name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        
    - name: Build with Ant
      run: ant jar
      
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: TaskReminder
        path: TaskReminder.jar